.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cartContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
}
.itemCart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
