.main{
    margin-bottom: 70px;
    grid-area: main;
}
.titulo{
    margin: 40px;
    text-decoration-color: black;
}
.scaleLoader{
    margin: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}