.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.navLista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
li{
    text-decoration: none;
    text-decoration-color: black;
}

.cartWidget{
    display: flex;
}
.cartNum{
    margin: 0rem 0.5rem;
    padding-top: 2px;
}
.itemNav{
    margin: 2rem 1rem;
}