.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black 1px;
}

.navLista{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    
}
.li{
    margin: 0px 20px;
    text-decoration: none;
    text-decoration-color: black;
}
.link{
    margin-top: 15px;
    text-decoration-color: black;
    text-decoration: none;
}