body{
    background-color: rgb(255, 255, 255);
}
.App{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
}